
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
    <div>
        <h2> hello @ViewBag.username !</h2><br/>
        <h1>Employees Data</h1><br />
        <table border="1">
            <tr>
                <th>EmployeeID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Start Work Year</th>
                <th>Department ID</th>
                <th>shifts</th>
                <th>changes</th>

            </tr>
            @foreach (var employee in ViewBag.employees)
            {

        <tr>
            <td>@employee.ID</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.YearStarted</td>
            <td>@employee.DepID</td>
            <td>
                <table>
                    <tr>

                        <td>Date</td>
                        <td>Start</td>
                        <td>End</td>
                    </tr>

                    @foreach (var s in employee.EmployeeShifts)
                    {
                        <tr>
                            <td>@s.shift.ShiftDate.ToString("dd/MM/yyyy")</td>
                            <td>@s.shift.StartTime</td>
                            <td>@s.shift.EndTime</td>
                        </tr>
                    }


                </table>

            </td>

            <td>@Html.ActionLink("Edit", "EditEmp", new { ID = employee.ID })</td>
            <td>@Html.ActionLink("Delete", "DeleteEmp", new { ID = employee.ID })</td>
            <td>@Html.ActionLink("Add Shift", "AddShiftToEmployee", new { ID = employee.ID })</td>

        </tr>

            }



        </table>


        <br />
        <form action="/Employees/GetSearchTerms" method="post">

            search: <input type="text" name="srchTerm" />
            <input type="submit" value="search" />
        </form>
        <br />
        @Html.ActionLink("Back to Full List", "Employees")<br />
        @Html.ActionLink("Back to Home Page", "HomePage", "Home")
        <br />
        @Html.ActionLink("Log-Out", "LogOut", "Home")





    </div>
</body>
</html>
