
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shifts</title>
</head>
<body>
    <div>
        <h2> hello @ViewBag.username !</h2><br />
        <h1> Shifts List</h1>
        <table border="1">
            <tr>
                <th>Shift Id</th>
                <th>Shift Date</th>
                <th>Shift start</th>
                <th>Shift End</th>
                <th>Employees In the shift</th>
            </tr>
            @foreach (var shf in ViewBag.shifts)
            {
                <tr>
                    <td>@shf.ID</td>
                    <td>@shf.ShiftDate</td>
                    <td>@shf.StartTime</td>
                    <td>@shf.EndTime</td>
                    <td>
                        <table>
                            @foreach (var emp in shf.EmployeeShifts)
                            {
                                if (@shf.ID == @emp.shift.ID)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink((string)@emp.employee.FirstName + (string)@emp.employee.LastName,
                                       "EditEmp", "Employees", new { ID = @emp.employee.ID }, new { @class = "btn btn-light btn-sm" })
                                        </td>

                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>


            }

        </table><br />

        @Html.ActionLink("Add new Shift", "AddShift")<br />
        @Html.ActionLink("Back to Home Page", "HomePage", "Home")
        <br />
        @Html.ActionLink("Log-Out", "LogOut", "Home")

        <br /><br /><br />


    </div>
</body>
</html>
